<log4net>
  <appender name="CsvFileAppender" type="log4net.Appender.FileAppender">
    <file value="log.csv"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFile value="true"/>
    <layout type="WheelChairCollaborativeGame.Logging.CsvPatternLayout">
      <header value="DateTime,Level,UserId,EventCode,Details&#13;&#10;" />
      <conversionPattern value=
"%date{M/d/yyyy H:mm:ss.fff}%newfield%level%newfield%property{UserId}%newfield%property{EventCode}%newfield%property{Details}%endrow" />
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggertomatch value="MyAwesomeLogger"/>
      <acceptonmatch value="false"/>
    </filter>
  </appender>



  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
    <param name="File" value="log-file.txt" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="[%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <logger name="MyAwesomeLogger">
    <level value="ALL" />
    <appender-ref ref="LogFileAppender" />
  </logger>
  
  <root>
    <level value="ALL" />
    <appender-ref ref="CsvFileAppender" />
  </root>
</log4net>