<log4net>

  <appender name="CsvFileAppenderDetail" type="WheelChairCollaborativeGame.Logging.HeaderOnceAppender">
    <file value="logDetail.csv"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFile value="true"/>
    <layout type="WheelChairCollaborativeGame.Logging.CsvPatternLayout">
      <header value="TimeStamp,GroupId,InputId,Event&#13;&#10;" />
      <conversionPattern value=
"%date{M/d/yyyy H:mm:ss.fff}%newfield%property{groupId}%newfield%property{inputId}%newfield%property{type}%endrow" />
    </layout>
  </appender>

  <appender name="CsvFileAppenderSummary" type="WheelChairCollaborativeGame.Logging.HeaderOnceAppender">
    <file value="logSummary.csv"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFile value="true"/>
    <layout type="WheelChairCollaborativeGame.Logging.CsvPatternLayout">
      <header value="TimeStamp,GroupId,InputId,PlayerAActionsStarted,PlayerAActionsCompleted,PlayerAActionsFailed,PlayerBActionsStarted,PlayerBActionsCompleted,PlayerBActionsFailed,ShotsFired,ShotsHit,ShotsMissed,ShotsWithoutEnergy,Score,Invaders&#13;&#10;" />
      <conversionPattern value=
"%date{M/d/yyyy H:mm:ss.fff}%newfield%property{GroupId}%newfield%property{InputId}%newfield%property{PlayerAActionsStarted}%newfield%property{PlayerAActionsCompleted}%newfield%property{PlayerAActionsFailed}%newfield%property{PlayerBActionsStarted}%newfield%property{PlayerBActionsCompleted}%newfield%property{PlayerBActionsFailed}%newfield%property{ShotsFired}%newfield%property{ShotsHit}%newfield%property{ShotsMissed}%newfield%property{ShotsWithoutEnergy}%newfield%property{Score}%newfield%property{Invaders}%endrow" />
    </layout>
  </appender>


  <logger name="DetailedLogger">
    <level value="INFO" />
    <appender-ref ref="CsvFileAppenderDetail" />
  </logger>

  <logger name="SummaryLogger">
    <level value="INFO" />
    <appender-ref ref="CsvFileAppenderSummary" />
  </logger>
  
  <root>
    <level value="ALL" />
  </root>
</log4net>